@import url("mentorship.css");
div #text {
    margin-top: 120px;
}

button {
    width: 250px;
    margin-top: 20px;
    margin-left: 130px;
}

.Slides {
    display: none;
}

.slideshow-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dots {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}